<html>
	<head>
		<title>Share Issue to Hiphat</title>
		<meta name="decorator" content="panel-general" />
	</head>
	<body>
		<form method="POST" action="$requestContext.baseUrl/secure/HipChatShareIssue.jspa" class="aui">
			<h2>Share Issue to Hiphat</h2>
			#if ($hasErrorMessages)
					<div class="aui-message error">
					    <ul>
					    	#foreach( $message in $errorMessages )
					        	<li>$message</li>
					        #end
					    </ul>
					</div>
			#end
			<fieldset>
				<div class="field-group">
					<label>Message</label>
					<span class="field-value">						
			            <div>
					    	<textarea rows="6" cols="100" id="message" name="message"></textarea> 
					    </div>
					</span>
					<div class="description">$action.getText("hipchat.share.message.description")</div>
				</div>
				<div class="field-group">
					<label>Color</label>
					<span class="field-value">						
			            <div>
					     	<input type="radio" name="color" value="yellow"> Yellow
					       	<input type="radio" name="color" value="red"> Red
					       	<input type="radio" name="color" value="green"> Green
					       	<input type="radio" name="color" value="purple" checked> Purple
					       	<input type="radio" name="color" value="gray"> Gray
					    </div>
					</span>
					<div class="description">$action.getText("hip-chat-rooms.color")</div>
				</div>
				<div class="field-group">
					<label>Notify?</label>
					<span class="field-value">						
			            <div>
					     	<input type="radio" name="notify" value="true" checked> Yes
					       	<input type="radio" name="notify" value="false"> No
					    </div>
					</span>
					<div class="description">$action.getText("hip-chat-rooms.notify")</div>
				</div>
			</fieldset>
			<input type="text" name="issueKey" value="$issueKey" hidden>
			<div class="buttons-container form-footer">
				<div class="buttons">
					<input type="submit" name="Share" value="$action.getText("hipchat.share")"/>
					<a href="$requestContext.baseUrl/browse/$issueKey">Cancel</a>
				</div>
			</div>
		</form	
	</body>
</html> 